{{- if or (.Values.serviceAccountSecretProviderClass) (.Values.gcp.workloadIdentity.enabled) }}
{{- $guardrailsName := "apigee-operator-guardrails" -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ $guardrailsName }}-sa
  namespace: {{ include "namespace" . }}
  annotations:
    helm.sh/hook: pre-install,pre-upgrade
    helm.sh/hook-delete-policy: before-hook-creation
    helm.sh/hook-weight: "-5"
    {{- if .Values.gcp.workloadIdentity.enabled}}
    iam.gke.io/gcp-service-account: {{ default .Values.gcp.workloadIdentity.gsa .Values.guardrails.gsa }}
    {{- end}}
{{- end -}}
