{{- if and (not .Values.gcp.workloadIdentity.enabled) (not .Values.guardrails.serviceAccountRef) (not .Values.serviceAccountSecretProviderClass) -}}
{{- $guardrailsName := "apigee-operator-guardrails" -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $guardrailsName }}-svc-account
  namespace: {{ include "namespace" . }}
  annotations:
    helm.sh/hook: pre-install,pre-upgrade
    helm.sh/hook-delete-policy: before-hook-creation
    helm.sh/hook-weight: "-5"
type: Opaque
data:
  client_secret.json: |-
    {{ include "tryFileContent.get" (dict "files" $.Files "f" (required "guardrails.serviceAccountPath is required!!" .Values.guardrails.serviceAccountPath)) | b64enc | nindent 4 }}
{{- end }}
